* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

html {
	background-color: black;

	height: 100%;
}

body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	color: rgb(231, 233, 234);
	height: 100%;
	width: 100%;
}

#content {
	display: flex;
}

#left {
	background-color: black;
	width: 259px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
} 
#profile {
	width: 100px;
	background-color: red;
}

#left-bar {
	position: fixed;
	display: flex;
	width: 25%;
	justify-content: flex-end;
	min-width: 259px;
}

#middle {
	background-color: black;
	border-right: 1px solid #2f3336;
	border-left: 1px solid #2f3336;
	width: 589px;
}

.icons {
	color: rgb(231, 233, 234);
	padding: 7px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.duos {
	font-size: 20px;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
}
.duos-text {
	display: block;

}

#profile-name {
	font-size: 15px;
	font-weight: 700;
}


#profile-handle {
	font-size: 15px;
	font-weight: 400;
	color: rgb(113, 118, 123);
}

#profile-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	padding-left: 0;
}

#pfp {
	width: 40px;
	border-radius: 100%;
}

#tweet-button-container {
	display: flex;
	justify-content: left;
	margin-top: 10px;
}

#tweet-button {
	cursor: pointer;

	font-size: 20px;
	background-color: #1DA1F2;
	color: white;
	border-radius: 30px;
	border: none;
	width :92%;
	height: 50px;
}

#logo {
	font-size: 30px;
}

#head {
	color: rgb(231, 233, 234);
}

#home {
	padding: 10px;
	font-size: 20px;
}

#ff-containter {
	display: flex;
	border-bottom: 1px solid #2f3336;
}

.ff {
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	font-size: 15px;
	width: 240px;
	text-align: center;
}

#for-you {
	color: gray;
}

#tweets-container {
	display: flex;
	flex-direction: column;
}

.tweet {
	color: rgb(231, 233, 234);
	display: flex;
	border-bottom: 1px solid #2f3336;
	padding: 5px;
	padding-bottom: 0;

}

#profile-more {
	align-self: center;
}

#tweet-profile-pic {
	padding: 10px;
}

#icon-pic {
	max-width: 40px;
	border-radius: 100%;
}

.tweet-pic {
	/* margin: 10px; */
	margin-top: 10px;
	margin-bottom: 0px;
	max-width: 95%;
	border-radius: 5%;
	border: 1px solid #2f3336;
}

.tweet-details {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}

#user-details-container {
	display: flex;
	color: #6d7277;
	padding-bottom: 5px;
}

.user-name{
	 color: rgb(231, 233, 234);
	margin-right: 5px;
}

.user-details {
	padding: 1px;
}

#quote {
	font-size: 15px;
	max-width: 500px;
}

.tweet-stats {
	display: flex;
	justify-content: space-between;
}

.interactions {
	display: flex;
	color: gray;
	padding: 10px;
}

.sub-interaction {
	display: flex;
	padding: 4px;
	font-size: 15px;

}

#right {
	background-color: black;
	display: flex;
	/* display: none; */
	flex-direction: column;
	width: 350px;
	padding-top: 10px;
	margin-left: 10px;
}
#Home {
	font-weight: bold;
}

#search-input {
	background-color: #202327;
	color:  #4f5358;
	border: none;
	border-radius: 30px;
	font-size: 15px;
	text-align:left;
	padding: 14px;
	margin-left: 14px;
	width: 270px;
background-image: url("data:image/svg+xml,%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3c!-- Uploaded to: SVG Repo%2c www.svgrepo.com%2c Transformed by: SVG Repo Mixer Tools --%3e %3csvg width='20px' height='20px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg id='SVGRepo_bgCarrier' stroke-width='0'/%3e%3cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3e%3cg id='SVGRepo_iconCarrier'%3e%3cpath d='M16.6725 16.6412L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='%236d7176' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e");
	background-repeat:no-repeat;
	background-position: 3% 50%;
	outline:0;
	text-indent: 20px;
	margin: 10p
}

#search-input:focus {
	outline:solid;
	outline-color: #007bff;
	outline-width: 1px;
}

#search-input:focus-within svg path {
  fill: #007bff;
}

 #get-verified-container {
	background-color: #202327;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	margin-top: 30px;
}

#get-verified {
	font-size: 20px;
	font-weight:bold ;
}

.gv-items {
	padding: 5px;
}

#sub {
	font-size: 15px;
}

#get-verified-button {
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	background-color: #1DA1F2;
	color: white;
	border-radius: 30px;
	border: none;
	width: 150px;
	height: 35px;
}

#trends {
 	background-color: #202327;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin: 10px;
}

#trends-header {
	font-size: 20px;
	font-weight:bold ;
}

.trend {
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
	
}

.trend-text {
	display: flex;
	flex-direction: column;
}

.small-text {  
	font-size: 13px;
	color: gray;
}

.trend-name {
	font-size: 15px;
	font-weight: bold;
}

#show-more {
	margin-top: 20px;
 	color: #1DA1F2;
	font-size: 15px;
	cursor: pointer;
}
